  ion-list {
      margin-bottom: 16px;
  }

  ion-item {
      --border-color: #ddd;
      --border-style: solid;
  }

  ion-label {
      --padding-start: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  ion-button {
      --padding-start: 12px;
      --padding-end: 12px;
      --padding-top: 8px;
      --padding-bottom: 8px;
      font-size: 14px;
  }

  ion-button {
      --background: transparent;
      --color: #44ff3e;
  }
  
  p {
      text-align: center;
      font-size: 16px;
      color: #888;
  }